@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #141720;
  background: linear-gradient(180deg, #141720 0%, #1e212d 25%, #251915 100%);
  font-family: 'Montserrat', sans-serif;
  color: #e6e6e6; }

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #c5a880;
  font-size: 30px;
  letter-spacing: 2px; }

h3 {
  color: #c5a880;
  font-size: 19px;
  text-align: center; }

h4 {
  color: #f0d6b2;
  text-align: justify; }

span {
  color: #c5a880; }

.header__logo {
  position: absolute;
  width: 105px;
  height: 65px; }

.header__menu li {
  float: left;
  text-align: left; }

.header__menu li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #e6e6e6;
  margin-top: 30px;
  margin-left: 100px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none; }

.header__menu li a:hover {
  color: #f0d6b2; }

.header__menu a.active {
  color: #f0d6b2; }

ul {
  list-style-type: none;
  font-size: 20px;
  text-decoration: none; }

li {
  width: 20%;
  position: relative;
  left: 10%; }

nav {
  padding-bottom: 100px; }

/*=======================================INDEX=======================================*/
/*--Landing--*/
.index__landing {
  width: 100%;
  height: 70%;
  background: url("../img/Index/Museo.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: table;
  margin: auto;
  top: 0; }

.index__landing-inner {
  width: 100%;
  vertical-align: middle;
  display: table-cell; }

.index__content {
  max-width: 700px;
  margin-left: 9rem;
  text-align: left; }

.index__content h1 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 700%;
  letter-spacing: 8px;
  width: 100%;
  text-transform: uppercase;
  color: #e6e6e6; }

/*--Texto e imagen principal--*/
.index-col {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  align-self: center;
  font-size: 32px;
  text-align: left;
  word-spacing: 2px; }

.index .col img {
  width: 100%;
  border-radius: 15px; }

.carousel {
  box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37); }

/*--Texto secundario--*/
.par {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #e6e6e6;
  text-align: left;
  font-size: 32px;
  margin-top: 30px;
  word-spacing: 2px; }

.par a {
  text-decoration: none;
  color: #c5a880; }

/*--Previews/links a otras secciones--*/
.index__card--container {
  margin-bottom: 3%; }

.index__card {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.438);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  transition: .4s ease; }

.index__card:hover {
  transform: scale(1.05);
  background: #ccac7e86; }

.index__card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 15px;
  width: 100%; }

.index__card--description {
  font-size: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #1E212D;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #e6e6e6; }

/*=======================================EXPLORAR=======================================*/
/*--Landing--*/
.browse__landing {
  width: 100%;
  height: 70%;
  background: url("../img/Browse/Landing.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: table;
  margin: auto;
  top: 0; }

.browse__landing-inner {
  width: 100%;
  vertical-align: middle;
  display: table-cell; }

.browse__content {
  max-width: 700px;
  margin-left: 9rem;
  padding-top: 40px;
  padding-bottom: 40px; }

.browse__content h2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 500%;
  letter-spacing: 8px;
  width: 100%;
  text-transform: uppercase;
  color: #e6e6e6; }

/*-----------GALERIA-----------*/
.containerBrowse {
  width: 98%;
  margin: 2rem auto; }
  .containerBrowse .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; }
    .containerBrowse .gallery .gallery__artwork {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }

/*-------Obras-------*/
.gallery__Gioconda {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Gioconda:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Bodas {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Bodas:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Balsa {
  grid-column: 5 / 9;
  grid-row: 1 / 6;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Balsa:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Libertad {
  grid-column: 3 / 5;
  grid-row: 3 / 6;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Libertad:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Belle {
  grid-column: 1 / 3;
  grid-row: 6 / 8;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Belle:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Escriba {
  grid-column: 1 / 3;
  grid-row: 8 / 10;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Escriba:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Venus {
  grid-column: 3 / 5;
  grid-row: 6 / 10;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Venus:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Juramento {
  grid-column: 5 / 9;
  grid-row: 6 / 9;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Juramento:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Psique {
  grid-column: 5 / 9;
  grid-row: 9 / 10;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Psique:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Encajera {
  grid-column: 1 / 3;
  grid-row: 10 / 12;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Encajera:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Virgen {
  grid-column: 3 / 6;
  grid-row: 10 / 12;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Virgen:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Batallas {
  grid-column: 6 / 9;
  grid-row: 10 / 10;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Batallas:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Minerva {
  grid-column: 6 / 9;
  grid-row: 11 / 12;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Minerva:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__David {
  grid-column: 1 / 5;
  grid-row: 12 / 15;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__David:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Concierto {
  grid-column: 5 / 9;
  grid-row: 12 / 15;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Concierto:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Marcellus {
  grid-column: 1 / 3;
  grid-row: 15 / 18;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Marcellus:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Spartacus {
  grid-column: 3 / 5;
  grid-row: 15 / 18;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Spartacus:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Dante {
  grid-column: 5 / 9;
  grid-row: 15 / 18;
  transition: .3s ease-in-out;
  filter: grayscale(1); }

.gallery__Dante:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Akhenaton {
  transition: .3s ease-in-out;
  grid-column: 1 / 3;
  grid-row: 18 / 20;
  filter: grayscale(1); }

.gallery__Akhenaton:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Horus {
  transition: .3s ease-in-out;
  grid-column: 3 / 5;
  grid-row: 18 / 19;
  filter: grayscale(1); }

.gallery__Horus:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Sarcofagos {
  transition: .3s ease-in-out;
  grid-column: 3 / 5;
  grid-row: 19 / 20;
  filter: grayscale(1); }

.gallery__Sarcofagos:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Mummy {
  transition: .3s ease-in-out;
  grid-column: 5 / 9;
  grid-row: 18 / 19;
  filter: grayscale(1); }

.gallery__Mummy:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Taureau {
  transition: .3s ease-in-out;
  grid-column: 5 / 6;
  grid-row: 19 / 20;
  filter: grayscale(1); }

.gallery__Taureau:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

.gallery__Esfinge {
  transition: .3s ease-in-out;
  grid-column: 6 / 9;
  grid-row: 19 / 20;
  filter: grayscale(1); }

.gallery__Esfinge:hover {
  transform: scale(1.03);
  filter: grayscale(0); }

/*--Botón para volver arriba--*/
#sticky {
  background: #c5a8801c;
  box-shadow: 0 8px 32px 0 rgba(44, 44, 44, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  position: sticky;
  width: 90px;
  height: 90px;
  bottom: 40px;
  left: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-decoration: none;
  transition: .3s ease; }

#sticky:hover {
  background-color: #c5a8803d;
  transform: scale(1.05); }

/*=======================================SHOP=======================================*/
/*--Landing--*/
.shop__landing {
  width: 100%;
  height: 80%;
  background: url("../img/Shop/Shop.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: table;
  margin: auto;
  top: 0; }

.shop__landing-inner {
  width: 100%;
  vertical-align: middle;
  display: table-cell; }

.shop__content {
  max-width: 700px;
  margin-left: 9rem; }

.shop__content h2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 500%;
  letter-spacing: 8px;
  width: 100%;
  text-transform: uppercase;
  color: #e6e6e6; }

/*--Comienza la grilla de la tienda--*/
.shop {
  padding: 1.8rem 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 55px; }

.shop .shop__producto {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #e6e6e6;
  font-size: 18px;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: .3s ease-in-out; }

.shop .shop__producto:hover {
  transform: scale(0.95); }

.shop img {
  margin: 15px;
  max-width: 80%;
  grid-row: 1; }

.shop .shop__descripcion {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  grid-row: 2; }

.shop .shop__precio {
  font-family: "Montserrat", sans-serif;
  grid-row: 3; }

.shop button {
  font-family: "Montserrat", sans-serif;
  color: #e6e6e6;
  margin-bottom: 10px;
  border: 1px solid #c5a8809f;
  background: none;
  color: #c5a8809f;
  grid-row: 4;
  padding: 8px;
  border-radius: 10px;
  transition: .2s ease-in-out; }

.shop button:hover {
  color: #1E212D;
  transform: scale(1.05);
  background-color: #c5a880; }

/*--Inconveniente--*/
.shop__inc {
  font-family: "Roboto", sans-serif;
  color: #e6e6e6;
  font-weight: lighter;
  margin-bottom: 30px; }

.shop__inc a {
  text-decoration: none;
  color: #c5a880; }

/*=======================================CONTACTO=======================================*/
/*--Landing--*/
.contact__landing {
  width: 100%;
  height: 70%;
  background: url("../img/Contact/Contact.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: table;
  margin: auto;
  top: 0; }

.contact__landing-inner {
  width: 100%;
  vertical-align: middle;
  display: table-cell; }

.contact__content {
  max-width: 700px;
  margin-left: 9rem;
  padding-top: 40px;
  padding-bottom: 40px; }

.contact__content h2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 500%;
  letter-spacing: 8px;
  width: 100%;
  text-transform: uppercase;
  color: #e6e6e6; }

/*--Formulario--*/
.formulario {
  margin-top: 30px; }

/*--Otros medios de contacto--*/
.contact {
  margin-bottom: 3%; }

.contact__info {
  text-decoration: underline;
  color: #e6e6e6;
  text-align: left;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 45px;
  margin-left: 30%;
  width: 50%;
  font-family: "Montserrat", sans-serif; }

.contact__title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #c5a880;
  text-align: left;
  margin-left: 30%;
  font-size: 30px;
  margin-top: 50px; }

.contact__subtitle {
  font-family: "Montserrat", sans-serif;
  color: #e6e6e6;
  text-align: left;
  margin-left: 30%;
  width: 40%;
  font-size: 17px; }

/*=======================================VISITA=======================================*/
/*--Landing--*/
.visit__landing {
  width: 100%;
  height: 80%;
  background: url("../img/Visit/Visit.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: table;
  margin: auto;
  top: 0; }

.visit__landing-inner {
  width: 100%;
  vertical-align: middle;
  display: table-cell; }

.visit__content {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 700px;
  margin-left: 9rem; }

.visit__content h2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 500%;
  letter-spacing: 8px;
  width: 100%;
  text-transform: uppercase;
  color: #e6e6e6; }

/*--Sección de ubicación--*/
.ubicacion_container h3 {
  color: #c5a880;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  letter-spacing: 2px; }

.ubicacion p {
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  text-align: left; }

.map {
  width: 100%;
  transition: .4s ease; }

.map:hover {
  transform: scale(1.05); }

/*Botón 'comprar entradas'*/
.entradas__btn--container {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
  margin-bottom: 4%; }

.entradas__btn {
  background: #c5a88052;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: .2s ease; }

.entradas__btn:hover {
  color: #c5a880;
  background: #1E212D;
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

/*----Exposiciones----*/
.expo {
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 23px; }

.expo__container--row {
  box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  background: rgba(197, 168, 128, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.062);
  border-radius: 10px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }

.hover-img {
  margin: 8px;
  max-width: 600px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease; }

.hover-img:before,
.hover-img:after {
  background-color: rgba(30, 33, 45, 0.404);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2); }

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden; }

.expo__title h3 {
  color: #c5a880;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase; }

.hover-img .expo__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s; }

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1; }

.hover-img:hover > img {
  opacity: 0.7; }

.hover-img:hover .expo__title {
  opacity: 1; }

.expo__info--subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  word-spacing: 2px;
  color: #c5a880; }

.expo__info--date {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  word-spacing: 2px;
  color: #e6e6e6; }

/*---Sección de compra----*/
.entradas__container h3 {
  color: #c5a880;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 2px; }

.entradas__list {
  margin-top: 3%; }

.entradas__container {
  margin-bottom: 5%; }

.entradas__container h4 {
  color: #e6e6e6;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  margin-top: 3%;
  margin-left: 4%; }

.entradas__container li {
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  text-align: left;
  width: 70%; }

.entradas__container h5 {
  color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  text-align: left;
  width: 70%;
  margin-left: 10%; }

.entradas__container ul {
  list-style-type: circle; }

footer {
  width: 100%; }

.footer__container {
  width: 100%;
  margin: auto; }

.footer {
  box-shadow: inset 0 15px 30px -7px rgba(0, 0, 0, 0.4);
  width: 100%;
  background-color: #181a22;
  color: #e6e6e6;
  display: flex;
  margin: auto;
  max-width: 100%;
  justify-content: space-evenly;
  padding: 20px; }

.footer h4 {
  color: #c5a880;
  font-family: "Montserrat", sans-serif;
  font-size: 22px; }

.footer p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

.footer__col1 {
  margin-left: 30px;
  max-width: 300px; }

.footer__col1 p {
  font-size: 14px;
  margin-top: 10px; }

.footer__col2 {
  display: flex;
  flex-direction: column; }

.footer__col2-row {
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.89);
  border-radius: 10px; }

.footer__col2 img {
  margin: 10px;
  width: 30px;
  height: 30px;
  transition: .1s ease; }

.footer__col2 img:hover {
  transform: scale(1.1); }

.footer__col3 {
  max-width: 400px; }

.footer__col3 img {
  width: 7%;
  height: 7%; }

.row2 {
  margin-top: 20px;
  display: flex; }

.row2 label {
  margin-left: 20px;
  max-width: 150px; }

.vl {
  border-right: 2px solid #13141a;
  height: 140px; }

/*=================================================Mobile Responsive=================================================*/
/*----------------------Pantallas grandes a extra grandes-----------*/
@media (min-width: 992px) {
  .header__logo {
    margin-left: 2%; } }

/*----------------------Pantallas medianas a grandes-----------*/
@media (max-width: 992px) {
  .header__logo {
    margin-left: 2%; }
  /*------INDEX------*/
  .index-col {
    display: block;
    position: relative;
    width: 100%; }
  .index-col::after {
    content: "";
    background-image: url("../img/Index/Victoria.png");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; }
  .index .col img {
    display: none; }
  /*------Footer------*/
  .footer__col3 {
    display: none; }
  .vl {
    display: none; } }

/*----------------------Pantallas pequeñas a medianas-----------*/
@media (max-width: 768px) {
  .header__logo {
    margin-left: 2%;
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 15%; }
  .header__menu {
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    column-gap: 15px;
    width: 100%;
    flex-direction: row; }
  .header__menu li {
    margin: 0;
    text-align: center; }
  .header__menu a {
    margin-right: 0; }
  .header__menu li a {
    margin: 1px;
    width: fit-content;
    padding: 5px; }
  nav {
    padding-bottom: 20px; }
  /*------INDEX------*/
  .index__content {
    max-width: 100%;
    margin-left: 2rem; }
  .index__content h1 {
    font-size: 500%;
    text-align: left; }
  .index-col {
    display: block;
    position: relative; }
  .index-col::after {
    content: "";
    background-image: url("../img/Index/Victoria.png");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center; }
  .index .col img {
    display: none; }
  /*------Shop------*/
  .shop {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 35px; }
  .shop p {
    margin-bottom: 4px; }
  .shop__inc {
    font-size: 20px; }
  /*------Footer------*/
  .footer {
    justify-content: space-between; }
  .footer h4 {
    font-size: 18px; }
  .footer__col2 {
    margin: 10px; }
  .footer__col2-row {
    justify-content: center;
    padding-left: 18px; }
  .footer__col2 img {
    margin: 2px;
    width: 24px;
    height: 24px; }
  .row2 label {
    margin-left: 5px;
    font-size: 15px; }
  .footer__col3 {
    display: block;
    max-width: 200px;
    margin-left: 10px; }
  .vl {
    display: none; } }

/*----------------------Pantallas pequeñas a extra pequeñas-----------*/
@media (max-width: 576px) {
  body {
    background: #1e212d;
    background: linear-gradient(45deg, #1e212d 26%, #11100f 100%); }
  .header__logo {
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 50px;
    min-width: 10%; }
  nav {
    padding-bottom: 0; }
  header {
    background-color: #0c0c0c;
    margin-bottom: 15px; }
  .header__menu {
    background-color: rgba(255, 255, 255, 0.021);
    text-align: left;
    margin: 0;
    padding-top: 20px;
    float: none;
    font-size: 12px;
    display: flex;
    column-gap: 5px;
    width: 100%;
    flex-direction: row; }
  .header__menu li {
    margin: 0;
    text-align: center; }
  .header__menu a {
    margin-right: 0; }
  .header__menu li a {
    margin: 1px;
    width: fit-content;
    padding: 5px; }
  /*------INDEX------*/
  .index__content {
    max-width: 100%;
    margin-left: 2rem; }
  .index__content h1 {
    font-size: 300%; }
  .index-col {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    word-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 24px;
    width: 100%;
    background: none; }
  .index .col img {
    display: none; }
  .par {
    font-size: 23px; }
  .index__card {
    margin-left: 15px; }
  /*------Browse------*/
  .browse__content {
    max-width: 100%;
    margin-left: 2rem; }
  .browse__content h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    letter-spacing: normal;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 100%;
    font-size: 300%; }
  .gallery {
    row-gap: 1px; }
  .gallery__Gioconda {
    grid-column: 1 / 5;
    grid-row: 1 / 8;
    filter: grayscale(0); }
  .gallery__Bodas {
    grid-column: 5 / 9;
    grid-row: 1 / 4;
    filter: grayscale(0); }
  .gallery__Balsa {
    grid-column: 5 / 9;
    grid-row: 4 / 8;
    filter: grayscale(0); }
  .gallery__Libertad {
    grid-column: 1 / 5;
    grid-row: 8 / 10;
    filter: grayscale(0); }
  .gallery__Belle {
    grid-column: 1 / 5;
    grid-row: 10 / 12;
    filter: grayscale(0); }
  .gallery__Escriba {
    grid-column: 5 / 9;
    grid-row: 8 / 12;
    filter: grayscale(0); }
  .gallery__Venus {
    grid-column: 1 / 5;
    grid-row: 12 / 15;
    filter: grayscale(0); }
  .gallery__Juramento {
    grid-column: 5 / 9;
    grid-row: 13 / 15;
    filter: grayscale(0); }
  .gallery__Psique {
    grid-column: 5 / 9;
    grid-row: 12 / 13;
    filter: grayscale(0); }
  .gallery__Encajera {
    grid-column: 1 / 4;
    grid-row: 15 / 19;
    filter: grayscale(0); }
  .gallery__Virgen {
    grid-column: 4 / 9;
    grid-row: 15 / 17;
    filter: grayscale(0); }
  .gallery__Batallas {
    grid-column: 4 / 9;
    grid-row: 17 / 19;
    filter: grayscale(0); }
  .gallery__Minerva {
    grid-column: 1 / 9;
    grid-row: 19 / 20;
    filter: grayscale(0); }
  .gallery__David {
    grid-column: 1 / 9;
    grid-row: 20 / 22;
    filter: grayscale(0); }
  .gallery__Concierto {
    grid-column: 1 / 5;
    grid-row: 22 / 25;
    filter: grayscale(0); }
  .gallery__Dante {
    grid-column: 5 / 9;
    grid-row: 22 / 25;
    filter: grayscale(0); }
  .gallery__Marcellus {
    grid-column: 1 / 4;
    grid-row: 25 / 29;
    filter: grayscale(0); }
  .gallery__Spartacus {
    grid-column: 4 / 9;
    grid-row: 25 / 29;
    filter: grayscale(0); }
  .gallery__Akhenaton {
    grid-column: 1 / 4;
    grid-row: 29 / 34;
    filter: grayscale(0); }
  .gallery__Horus {
    grid-column: 4 / 9;
    grid-row: 29 / 32;
    filter: grayscale(0); }
  .gallery__Sarcofagos {
    grid-column: 4 / 9;
    grid-row: 32 / 34;
    filter: grayscale(0); }
  .gallery__Mummy {
    grid-column: 1 / 9;
    grid-row: 34 / 36;
    filter: grayscale(0); }
  .gallery__Taureau {
    grid-column: 1 / 4;
    grid-row: 36 / 39;
    filter: grayscale(0); }
  .gallery__Esfinge {
    grid-column: 4 / 9;
    grid-row: 36 / 39;
    filter: grayscale(0); }
  /*------SHOP------*/
  .shop__content {
    max-width: 100%;
    margin-left: 2rem; }
  .shop__content h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    letter-spacing: normal;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 100%;
    font-size: 300%; }
  .shop {
    display: flex;
    flex-direction: column;
    row-gap: 20px; }
  /*------CONTACT------*/
  .contact__content {
    max-width: 100%;
    margin-left: 2rem; }
  .contact__content h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    letter-spacing: normal;
    max-width: 100%;
    font-size: 300%; }
  .contact__title {
    margin-left: 5%;
    font-size: 25px;
    letter-spacing: normal; }
  .contact__info {
    margin-left: 5%;
    width: 80%; }
  .contact__subtitle {
    margin-left: 5%;
    width: 80%; }
  /*------Visit------*/
  .visit__content {
    max-width: 100%;
    margin-left: 2rem; }
  .visit__content h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    letter-spacing: normal;
    max-width: 100%;
    font-size: 300%; }
  .ubicacion p {
    word-spacing: 1px;
    font-size: 20px; }
  .expo {
    font-size: 20px;
    word-spacing: 1px; }
  .expo__container {
    margin: auto; }
  .expo__container--row {
    margin-bottom: 30px; }
  .expo__title h3 {
    font-size: 40px; }
  .expo__info--subtitle {
    font-size: 20px; }
  .entradas__container h4 {
    word-spacing: normal;
    text-align: center; }
  .entradas__container li {
    font-size: 18px;
    width: 89%; }
  .entradas__container h5 {
    font-size: 18px;
    width: 89%;
    margin-left: 10%; }
  /*------Footer------*/
  .footer {
    display: flex;
    flex-direction: column;
    column-gap: 10px; }
  .footer h4 {
    font-size: 15px; }
  .footer p {
    font-size: 10px; }
  .footer__col1 {
    margin-left: 10px; }
  .footer__col2-row {
    padding-left: 5px;
    border: none; }
  .footer__col2 img {
    margin: 10px;
    width: 24px;
    height: 24px; }
  .row2 label {
    margin-left: 5px;
    font-size: 10px; }
  .vl {
    display: none; } }
