@import 'color';
@import 'font';

//---------------------FOOTER

.footer{
    text-align: end;
    color: $color-white;
    font-size: $footer-font-size;
    .footer .footer__tc{
        transition: .2s ease;
        .footer .footer__tc:hover{
            color: $color-lightBrown;
            transform: scale(0.99);
        }
    }
    .footer .footer__info{
        transition: .2s ease;
        .footer .footer__info:hover{
            color: $color-lightBrown;
            transform: scale(0.99);
        }
    }
    .footer .footer__support{
        transition: .2s ease;
        .footer .footer__support:hover{
            color: $color-lightBrown;
            transform: scale(0.99);
        }
    }
}

