@import 'color';
@import 'font';

//---------------------General variables

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(20,23,32);
    background: linear-gradient(180deg, rgba(20,23,32,1) 0%, rgba(30,33,45,1) 25%, rgba(37,25,21,1) 100%);
    font-family: 'Montserrat', sans-serif;
    color: #e6e6e6; }

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #c5a880;
    font-size: 30px;
    letter-spacing: 2px; }

h3 {
    color: #c5a880;
    font-size: 19px;
    text-align: center; }

h4 {
    color: #f0d6b2;
    text-align: justify; }

span{
    color: #c5a880;
}
