@import 'color';
@import 'font';

//=======================================INDEX=======================================//

.index__landing{
    width: 100%;
    height: 70%;
    background: url('../img/Index/Museo.jpg') no-repeat 50% 50%;
    background-size: cover;
    display: table;
    margin: auto;
    top: 0;
}
.index__landing-inner{
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    }
.index__content{
    max-width: 700px;
    margin-left: 9rem;
    text-align: left;}
.index__content h1{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 700%;
    letter-spacing: 8px;
    width: 100%;
    text-transform: uppercase;
    color: #e6e6e6;
    }

/*-------Grid-------*/
.grid2 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 750px 1fr;
    grid-template-rows: 400px 1fr;
    grid-row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    .grid2__intro {
        color: #e6e6e6;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        grid-column: 1fr;
        grid-row: 1fr;
        align-self: center;
        font-size: 32px;
        text-align: left;
        word-spacing: 2px;
        margin-left: 10px;
        .grid2__img {
            margin-right: 10px;
            grid-column: 2fr;
            grid-row: 1fr; 
            align-self: center;
            .grid2__img img {
                border-radius: 3%;
                transition: .6s ease-in-out; 
                .grid2__img img:hover {
                    transform: scale(0.98); 
                }
            }
        }
    }
}
.par{
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
    color: #e6e6e6;
    text-align: left;
    font-size: 33px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.par a{
    text-decoration: none;
    color: #c5a880;
}
.carousel{
    box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37);
}