@import 'color';
@import 'font';

//=======================================INDEX=======================================//

.index__landing{
    width: 100%;
    height: 70%;
    background: url('../img/Index/Museo.jpg') no-repeat 50% 50%;
    background-size: cover;
    display: table;
    margin: auto;
    top: 0;
}
.index__landing-inner{
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    }
.index__content{
    max-width: 700px;
    margin-left: 9rem;
    text-align: left;}
.index__content h1{
    position: relative;
    font-family: $base-font-family;
    font-weight: lighter;
    font-size: 700%;
    letter-spacing: 8px;
    width: 100%;
    text-transform: uppercase;
    color: $color-white;
    }

.index .col {
    margin-top: 70px;
    margin-bottom: 70px;
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    align-self: center;
    font-size: 32px;
    text-align: left;
    word-spacing: 2px;
    margin-left: 30px;
}
.index .col img {
    width: 90%;
    margin-right: 10px;
    border-radius: 3%;
    box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    transition: .4s ease-in-out;
    align-self: center; }

.index .col img:hover {
    transform: scale(0.98); }
.par{
    font-family: $secondary-font-family;
    font-weight: 200;
    color: $color-white;
    text-align: left;
    font-size: 33px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.par a{
    text-decoration: none;
    color: $color-lightBrown;
}
.carousel{
    box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37);
}