@import 'font';
@import 'color';


/*=================================================Mobile Responsive=================================================*/
/*----------------------Pantallas grandes a extra grandes-----------*/
@media (min-width: 992px) {
    .header__logo{
        margin-left: 2%;
    }
}
    /*----------------------Pantallas medianas a grandes-----------*/
@media (max-width: 992px) {
    .header__logo{
        margin-left: 2%;
    }
    .index-col {
        display: block;
        position: relative;
        width: 100%;
    }
    .index-col::after {
        content: "";
        background-image: url('../img/Index/Victoria.png');
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
    .index .col img{
        display: none;
    }
    /*
    .footer__col2{
        align-items: center;
    }*/

}
    /*----------------------Pantallas pequeñas a medianas-----------*/
@media (max-width: 768px) {
    .header__logo {
        margin-left: 2%;
        position: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 15%; }
    .header__menu {
        padding-top: 20px;
        font-size: 20px;
        display: flex;
        column-gap: 15px;
        width: 100%;
        flex-direction: row; }
    .header__menu li {
        margin: 0;
        text-align: center; }
    .header__menu a{
        margin-right: 0;
    }
    .header__menu li a {
        margin: 1px;
        width: fit-content;
        padding: 5px; }
    nav{
        padding-bottom: 20px;
    }
/*------INDEX------*/
    .index__content{
        max-width: 100%;
        margin-left: 2rem;
    }
    .index__content h1{
        font-size: 500%;
        text-align: left;
    }
    .index-col {
        display: block;
        position: relative;
    }
    .index-col::after {
        content: "";
        background-image: url('../img/Index/Victoria.png');
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        background-position: center;
    }
    .index .col img{
        display: none;
    }
/*------Footer------*/
    .footer{
        justify-content: space-between;
    }
    .footer h4{
        font-size: 18px;
    }
    .footer__col2{
        margin: 10px;
    }
    .footer__col2-row{
        justify-content: center;
        padding-left: 18px;
    }
    .footer__col2 img{
        margin: 2px;
        width: 24px;
        height: 24px;
    }
    .row2 label{
        margin-left: 5px;
        font-size: 15px;
    }
    .footer__col3{
        max-width: 200px;
        margin-left: 10px;
    }
    .vl{
        margin-top: 8%;
    }


}
    /*----------------------Pantallas pequeñas a extra pequeñas-----------*/
@media (max-width: 576px) {
    body {
        background: #1e212d;
        background: linear-gradient(45deg, #1e212d 26%, #11100f 100%); }
    .header__logo {
        position: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 50px;
        min-width: 10%; }
    nav {
        padding-bottom: 0; }
    header {
        background-color: #0c0c0c;
        margin-bottom: 15px; }
    .header__menu {
        background-color: rgba(255, 255, 255, 0.021);
        text-align: left;
        margin:0;
        padding-top: 20px;
        float: none;
        font-size: 12px;
        display: flex;
        column-gap: 5px;
        width: 100%;
        flex-direction: row; }
    .header__menu li {
        margin: 0;
        text-align: center; }
    .header__menu a{
        margin-right: 0;
    }
    .header__menu li a {
        margin: 1px;
        width: fit-content;
        padding: 5px; }
/*------INDEX------*/
    .index__content{
        max-width: 100%;
        margin-left: 2rem;
    }
    .index__content h1{
        font-size: 300%;
    }
    .index-col {
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
        word-spacing: 1px;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 24px;
        width: 100%;
        background: none;
    }
    .index .col img{
        display: none;
    }

    .par{
        font-size: 23px;
    }
    .index__card{
        margin-left: 15px;}

/*------Browse------*/
    .browse__content{
        max-width: 100%;
        margin-left: 2rem;
    }
    .browse__content h2{
        font-family: $base-font-family;
        font-weight: lighter;
        letter-spacing: normal;
        margin-top: 2%;
        margin-bottom: 2%;
        max-width: 100%;
        font-size: 300%;
    }
    .gallery{
        row-gap: 1px;
    }
    .gallery__Gioconda{
        grid-column: 1 / 5;
        grid-row:1 / 8;
        filter: grayscale(0);
    }
    .gallery__Bodas{
        grid-column: 5 / 9;
        grid-row: 1 / 4;
        filter: grayscale(0);
    }
    .gallery__Balsa{
        grid-column: 5 / 9;
        grid-row: 4 / 8;
        filter: grayscale(0);
    }
    .gallery__Libertad{
        grid-column: 1 / 5;
        grid-row: 8 / 10;
        filter: grayscale(0);
    }
    .gallery__Belle{
        grid-column: 1 / 5;
        grid-row: 10 / 12;
        filter: grayscale(0);
    }
    .gallery__Escriba{
        grid-column: 5 / 9;
        grid-row: 8 / 12;
        filter: grayscale(0);
    }
    .gallery__Venus{
        grid-column: 1 / 5;
        grid-row: 12 / 15;
        filter: grayscale(0);
    }
    .gallery__Juramento{
        grid-column: 5 / 9;
        grid-row: 13 / 15;
        filter: grayscale(0);
    }
    .gallery__Psique{
        grid-column: 5 / 9;
        grid-row: 12 / 13;
        filter: grayscale(0);
    }
    .gallery__Encajera{
        grid-column: 1 / 4;
        grid-row: 15 / 19;
        filter: grayscale(0);
    }
    .gallery__Virgen{
        grid-column: 4 / 9;
        grid-row: 15 / 17;
        filter: grayscale(0);
    }
    .gallery__Batallas{
        grid-column: 4 / 9;
        grid-row: 17 / 19;
        filter: grayscale(0);
    }
    .gallery__Minerva{
        grid-column: 1 / 9;
        grid-row: 19 / 20;
        filter: grayscale(0);
    }
    .gallery__David{
        grid-column: 1 / 9;
        grid-row: 20 / 22;
        filter: grayscale(0);
    }
    .gallery__Concierto{
        grid-column: 1 / 5;
        grid-row: 22 / 25;
        filter: grayscale(0);
    }
    .gallery__Dante{
        grid-column: 5 / 9;
        grid-row: 22 / 25;
        filter: grayscale(0);
    }
    .gallery__Marcellus{
        grid-column: 1 / 4;
        grid-row: 25 / 29;
        filter: grayscale(0);
    }
    .gallery__Spartacus{
        grid-column: 4 / 9;
        grid-row: 25 / 29;
        filter: grayscale(0);
    }
    .gallery__Akhenaton{
        grid-column: 1 / 4;
        grid-row: 29 / 34;
        filter: grayscale(0);
    }
    .gallery__Horus{
        grid-column: 4 / 9;
        grid-row: 29 / 32;
        filter: grayscale(0);
    }
    .gallery__Sarcofagos{
        grid-column: 4 / 9;
        grid-row: 32 / 34;
        filter: grayscale(0);
    }
    .gallery__Mummy {
        grid-column: 1 / 9;
        grid-row: 34 / 36;
        filter: grayscale(0);
    }
    .gallery__Taureau{
        grid-column: 1 / 4;
        grid-row: 36 / 39;
        filter: grayscale(0);
    }
    .gallery__Esfinge{
        grid-column: 4 / 9;
        grid-row: 36 / 39;
        filter: grayscale(0);
    }

/*------SHOP------*/
    .shop__content{
        max-width: 100%;
        margin-left: 2rem;
    }
    .shop__content h2{
        font-family: $base-font-family;
        font-weight: lighter;
        letter-spacing: normal;
        margin-top: 2%;
        margin-bottom: 2%;
        max-width: 100%;
        font-size: 300%;
    }
    .shop{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
/*------CONTACT------*/
    .contact__content{
        max-width: 100%;
        margin-left: 2rem;
    }
    .contact__content h2{
        font-family: $base-font-family;
        font-weight: lighter;
        letter-spacing: normal;
        max-width: 100%;
        font-size: 300%;
    }
    .contact__title{
        margin-left: 5%;
        font-size: 25px;
        letter-spacing: normal;
    }
    .contact__info{
        margin-left: 5%;
        width:80%;
    }
    .contact__subtitle{
        margin-left: 5%;
        width: 80%;
    }
/*------Visit------*/
    .visit__content{
        max-width: 100%;
        margin-left: 2rem;
    }
    .visit__content h2{
        font-family: $base-font-family;
        font-weight: lighter;
        letter-spacing: normal;
        max-width: 100%;
        font-size: 300%;
    }
    .ubicacion p{
        word-spacing: 1px;
        font-size: 20px;
    }
    .expo{
        font-size: 20px;
        word-spacing: 1px;
    }
    .expo__container{
        margin: auto;
    }
    .expo__container--row{
        margin-bottom: 30px;
    }
    .expo__title h3{
        font-size: 40px;
    }
    .expo__info--subtitle{
        font-size: 20px;
    }

    .entradas__container h4{
        word-spacing: normal;
        text-align: center;
    }
    .entradas__container li{
        font-size: 18px;
        width: 89%;
    }
    .entradas__container h5{
        font-size: 18px;
        width: 89%;
        margin-left: 10%;
    }



/*------Footer------*/
    .footer{
        display: flex;
        flex-direction: column;
        column-gap: 10px;
    }
    .footer h4{
        font-size: 15px;
    }
    .footer p{
        font-size: 10px;
    }
    .footer__col1{
        margin-left: 10px;
    }
    .footer__col2-row{
        padding-left: 5px;
        border: none;
    }

    .footer__col2 img{
        margin: 10px;
        width: 24px;
        height: 24px;
    }
    .row2 label{
        margin-left: 5px;
        font-size: 10px;
    }
    .vl{
        display: none;
    }
}
