@import 'color';
@import 'font';

/*=======================================VISITA=======================================*/
/*--Landing--*/
.visit__landing{
    width: 100%;
    height: 80%;
    background: url('../img/Visit/Visit.jpg') no-repeat 50% 50%;
    background-size: cover;
    display: table;
    margin: auto;
    top: 0;
}
.visit__landing-inner{
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}
.visit__content{
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 700px;
    margin-left: 9rem;
}
.visit__content h2{
    position: relative;
    font-family: $base-font-family;
    font-weight: lighter;
    font-size: 500%;
    letter-spacing: 8px;
    width: 100%;
    text-transform: uppercase;
    color: $color-white;
}

/*--Sección de ubicación--*/
.ubicacion_container h3{
    color: $color-lightBrown;
    font-family: $base-font-family;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.ubicacion p{
    color: $color-white;
    font-family: $secondary-font-family;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
}
.map{
    width: 100%;
    transition: .4s ease;
}
.map:hover{
    transform: scale(1.05);
}
/*Botón 'comprar entradas'*/
.entradas__btn--container{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-bottom: 4%;
}
.entradas__btn{
    background: #c5a88052;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    color: white;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: .2s ease;
}
.entradas__btn:hover {
    color: $color-lightBrown;
    background: $color-darkBlue;
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*----Exposiciones----*/
.expo {
    color: $color-white;
    font-family: $secondary-font-family;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 23px; 
}
.expo__container--row{
    box-shadow: 0 8px 32px 0 rgba(3, 4, 7, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    background: rgba( 197, 168, 128, 0.05 );
    border: 1px solid rgba(255, 255, 255, 0.062);
    border-radius: 10px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover-img {
    margin: 8px;
    max-width: 600px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}
.hover-img:before,
.hover-img:after {
    background-color: rgba(30, 33, 45, 0.404);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
}

.hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}
.expo__title h3{
    color: $color-lightBrown;
    font-size: 60px;
    font-family: $base-font-family;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hover-img .expo__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
}
    
.hover-img:hover:before,
.hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
}
    
.hover-img:hover > img {
    opacity: 0.7;
}
    
.hover-img:hover .expo__title {
    opacity: 1;
}
.expo__info--subtitle{
    font-family: $base-font-family;
    font-weight: lighter;
    word-spacing: 2px;
    color: $color-lightBrown;
}
.expo__info--date{
    font-family: $secondary-font-family;
    font-weight: lighter;
    font-size: 20px;
    word-spacing: 2px;
    color: $color-white;
}

/*---Sección de compra----*/
.entradas__container h3{
    color: $color-lightBrown;
    font-family: $base-font-family;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}
.entradas__list{
    margin-top: 3%;
}
.entradas__container{
    margin-bottom: 5%;
}
.entradas__container h4{
    color: $color-white;
    font-family: $base-font-family;
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 3%;
    margin-left: 4%;
}
.entradas__container li{
    color: $color-white;
    font-family: $secondary-font-family;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    width: 70%;
}
.entradas__container h5{
    color: $color-white;
    font-family: $secondary-font-family;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
    width: 70%;
    margin-left: 10%;
}
.entradas__container ul{
    list-style-type: circle;
}






